.App {
  
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contEquipos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contCarousel{
  background-color: aqua;
}


