.contCard{
    background-color: aquamarine;
    width: 400px;
    height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0.5rem;
    position: relative; /* propiedad como es el padre Para el btn fav(hijo) */
}
.imgEscudo{
    width: 200px;
    height: 200px;
}
.btnFav{
    position: absolute;
        bottom: 10px;
        right: 10px;
        background: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
        
}
.favTrue{
    color: red;
}